<div class="container text-left">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <p style="color: #fff">ABOUT US</p>
          <p>Our core team consists of <a href="mailto:cedwards@dccnet.com">Cliff Edwards</a>, <a href="mailto:ska61@sfu.com">Soheil Keshmiri</a>, <a href="mailto:tnosov@sfu.com">Timothy Nosov</a>, <a href="http://www.sfu.ca/engineering/people/faculty/shahram_payandeh.html">Shahram Payandeh</a> and <a href="mailto:georgex@sfu.com">George Xu</a>.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p style="color: #fff">CONTACT</p>
          <p>Email us at <a href="mailto:georgemxu@gmail.com">immersivesfu@gmail.com</a>.<br />
          Or find us at the <a href="http://www2.ensc.sfu.ca/research/erl/">Experimental Robotics Lab</a> in ASB 8850.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10">
          <p style="color: #fff">LEGAL</p>
          <p>Copyright &copy; 2014 Immersive Systems, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>