html,
body {
    height: 100%;
}

body {
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -240px;
    padding: 0 0 240px;
}

footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 190px;
    background: #292929;
    color: #999999;
}

@media screen and (max-width: 992px) {
    footer {
        height: 290px;
    }
}

@media screen and (min-width: 7000px) {
    .wrap {
        margin: 0 auto -300px;
        padding: 0 0 300px;

    }
    footer {
        height: 250px;
    }
}


footer a {
    color: #5CACEE;
}

footer a:hover {
    color: #7EC0EE;
    text-decoration:none;
}

.content > section > .container, .content > .container {
    padding-top: 100px;
}

.content > section > section > .container  {
    padding-top: 50px;
}

.section-hero {
    background-image: url('/img/images/hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    color: #ffffff;
    padding-top: 250px;
    padding-bottom: 200px;
}

.section-hero h1 {
    font-size: 50px;
}

.section-hero p {
    font-size: 24px;
}

.section-email {
    background-color: #fff;
    color: #000;
    padding-top: 30px;
    padding-bottom: 50px;
}

.section-info {
    background-color: #FF6666;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

p, a, label, input, button, span, h1, h2, h3, h4, h5, h6, body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.lead {
    font-weight: 300;
}

.centering {
  float: none;
  margin:0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.navbar-inverse {
    background-color: #292929;
    border-color: #292929;
    opacity: 0.92;
    filter: alpha(opacity=92);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #292929;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ccc;
}

.navbar-brand img {
    margin-top: -15px;
    margin-bottom: -10px;
    width: 200px;
}

.button-separate {
    padding-top: 10px;
}

.button-key {
    width: 120px;
    font-size: 16px;
}

.sub-container {
    width: 75%;
    margin: 0px auto;
}

.panel-controls {
    background-color: #F0F8FF;
}

#controls .alert-info {
    background-color: #F0F8FF;
}