/*.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}*/

.content {
    width:100%;
}

footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #292929;
}

footer a {
    color: #999999;
}

footer a:hover {
    color: #5CACEE;
    text-decoration:none;
}

footer {
    color: #fff;
}

/*@media screen and (max-width:480px) {
    footer {
        font-size: 6px;
        height: 18px;
    }
}*/

.content > section > .container, .content > .container {
    margin-top:70px;
}

.content > section > section > .container  {
    margin-top:50px;
}

.section-1 {
    margin-top:50px;
    background-color: #5CACEE;
    color: #ffffff;
    padding-top: 175px;
    padding-bottom: 75px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
}

.section-1 h1 {
    font-size: 50px;
}

.section-1 p {
    font-size: 34px;
}

.section-2 {
    background-color: #74BBFB;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
}

p, a, label, input, button, span, h1, h2, h3, h4, h5, h6, body {
    font-family: 'Open Sans', sans-serif;
}

.centering {
  float: none;
  margin:0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.navbar-inverse {
    background-color: #292929;
    border-color: #292929;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #292929;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #5CACEE;
}

.navbar-inverse .navbar-nav a {
    font-weight: 700;
}

.navbar-brand img {
    margin-top: -15px;
    margin-bottom: -10px;
    width: 225px;
}

.button-separate {
    padding-top: 10px;
}

.button-key {
    width: 120px;
    font-size: 16px;
}

.sub-container {
    width: 75%;
    margin: 0px auto;
}

.panel-controls {
    background-color: #fafafa;
}

body {
    background-image: url('/img/textures/paper_fibers.png');
    background-repeat:repeat;
}