/*.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}*/

.content {
    width:100%;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#222222;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black;
    color: #eee;
    text-align: center;
}

footer p {
    padding:5px 0px 12px 10px;
}

.content > section > .container, .content > .container {
    margin-top:70px;
}

html,body,section,section,section {height:100%;}
.masthead {
    min-height:400px;
    height:100%;
    background-image:url('/img/images/homepage-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    border-bottom: 1px solid #222222;
}

.masthead-caption {
    position: absolute;
    top: 40%;
    right: 0%;
    left: 0%;
    color: #ffffff;
    text-align: center;
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);*/
}

p, a, label, input, button, span {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.navbar-inverse {
    background-color: #222222;
    border-color: #222222;
    background-image: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
    background-image: linear-gradient(to bottom, #222222 0%, #222222 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    opacity: 0.92;
    filter: alpha(opacity=92);
}

.navbar-brand img {
    margin-top: -15px;
    margin-bottom: -10px;
    width: 225px;
}

footer a {
    color: #999999;
}

a:hover {
    color: #fff;
    text-decoration:none;
}

@media screen and (max-width:480px) {
    footer {
        font-size: 6px;
        height: 18px;
    }
}

.button-separate {
    padding-top: 10px;
}

.button-key {
    width: 120px;
}

.sub-container {
    width: 75%;
    margin: 0px auto;
}

.panel-controls {
    background-color: #fafafa;
}

body {
    background-image: url('/img/textures/paper_fibers.png');
    background-repeat:repeat;
}