<section data-ng-controller="RobotsController">
  <div class="section-hero hero-background">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="text-center">Control the Thumper.</h1>
         </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <br />
          <p class="lead">We are currently developing a prototype of our eventual cloud robotics gaming platform. Play multiplayer games using physical robot avatars with people across the world. Be one of the first to try out our robots.</p>
          <br />
          <a class="btn btn-lg btn-primary" ng-click="scrollTo('controls')">Try now!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-info-thumper">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>You're in full control</h1>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <h3>See</h3>
          <p class="lead">See your surroundings through a low-latency HD stream. With pan and tilt controls, you have full freedom on where you are looking.</p>
        </div>
        <div class="col-md-4">
          <h3>Navigate</h3>
          <p class="lead">Navigate your surroundings with intuitive and easy to use controls. Combining precision with power, you are free to go where you wish.</p>
        </div>
        <div class="col-md-4">
          <h3>Interact</h3>
          <p class="lead">Interact with your surroundings by picking up objects with your gripper arm. Expect additional toys and features in the near future.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="controls" class="container controls">
    <div class="row sub-container">
      <div class="col-md-12 text-center">
        <div class="alert alert-info">
          <p class="lead"><strong>Hello!</strong></p>
          <p class="lead">Feel free to drive around our lab. This is a prototype so the robot may be unstable. If there's a lineup to use the robot, your turn will end in 60 seconds.</p>
          <!-- <p class="lead"><strong>The Thumper is currently charging, check back at 6:00 PM PST. Thanks!</strong></p> -->
          <p class="lead"><strong>Thumper is undergoing repairs. We are trying to get it working ASAP!</strong></p>
          <br />
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <p class="lead"><strong id="queuelength" ng-bind="queuelength">Queue Length: N/A</strong></p>
            </div>
            <div class="col-md-4">
              <p class="lead"><strong id="currentposition" ng-bind="currentposition">Your Position: N/A</strong></p>
            </div>
          </div>
          <a class="btn btn-lg btn-warning" ng-click="joinQueue()">Join queue!</a>
        </div>
      </div>
    </div>
    <div class="row sub-container">
      <div class="col-md-12 text-center">
        <div id="streambox" class="panel panel-default panel-controls">
          <div class="panel-body">
            <object id="videostream" width="100%" height="100%"> <param name="movie" value="http://osmf.org/dev/2.0gm/StrobeMediaPlayback.swf"></param><param name="flashvars" value="src=rtmp%3A%2F%2F54.213.169.59%2Flive%2Fthumper&streamType=live&optimizeBuffering=false&bufferTime=0&initialBufferTime=0&expandedBufferTime=0&liveBufferTime=0&minContinuousPlaybackTime=0&autoPlay=true"></param><param name="allowFullScreen" value="false"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="direct"></param><embed id="videostreamwebkit" src="http://osmf.org/dev/2.0gm/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="100%" height="100%" flashvars="src=rtmp%3A%2F%2F54.213.169.59%2Flive%2Fthumper&streamType=live&optimizeBuffering=false&bufferTime=0&initialBufferTime=0&expandedBufferTime=0&liveBufferTime=0&minContinuousPlaybackTime=0&autoPlay=true"></embed></object>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-container">
      <p class="lead text-center">Robot speed is currently: <span id="speed">0</span></p>
    </div>
    <div id="robotcontrols" class="row sub-container">
      <div class="col-md-12">
        <div class="panel panel-default panel-controls">
          <div class="panel-body">
            <div class="row text-center">
              <button id="button_speeddown" type="button" class="btn btn-info btn-lg button-key-thumper">
                <i class="fa fa-angle-double-down"></i> Slow Down (Q)
              </button>
              <button id="button_up" type="button" class="btn btn-info btn-lg button-key-thumper">
                <i class="fa fa-arrow-up"></i> Up (W)
              </button>              
              <button id="button_speedup" type="button" class="btn btn-info btn-lg button-key-thumper">
                <i class="fa fa-angle-double-up"></i> Speed Up (E)
              </button>
            </div>
            <div class="button-separate"></div>
            <div class="row text-center">
              <button id="button_left" type="button" class="btn btn-info btn-lg button-key-thumper">
                <i class="fa fa-arrow-left"></i>  Left (A)
              </button>
              <button id="button_down" type="button" class="btn btn-info btn-lg button-key-thumper">
                <i class="fa fa-arrow-down"></i>  Down (S)
              </button>
              <button id="button_right" type="button" class="btn btn-info btn-lg button-key-thumper">
                <i class="fa fa-arrow-right"></i>  Right (D)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-container">
      <iframe src="https://kiwiirc.com/client/chat.freenode.net/?&theme=basic#CloudyRobotics" class="chatbox"></iframe>
    </div>
  </div>
</section>

<script type="text/javascript-lazy" src='/socket.io/socket.io.js'></script>
<script type="text/javascript-lazy" src='/public/scripts/thumper.js'></script>